.App {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 100vh;
  width: 100vw;
}


h1 {
  color: #FFE380;
}

input#search {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  margin-top: 10%;
  padding: 20px;
}

li.listItem {
  list-style: none;
  font-size: 1rem;
  padding: .5rem;
  margin-top: 1rem;
  cursor: pointer;
  background: #72B832;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

ol.venueList {
  padding: 1rem;
}
